body {
    margin: 0;
    background-color: #171717;
}

.iEAfSQ {
    background-position-x: center;
    height: 100 vh;
    inset: 0 px;
    z-index: -1;
    position: absolute;
    pointer-events: none;
}

.css-1yb2nwh {
    object-fit: cover;
    object-position: center top;
    margin: 0;
    width: 100vw;
    opacity: 0.1;
}

.zuikakuship-header {
    text-align: center;
    margin: 0;
}

.zuikakuship-header-profile {
    padding-top: 160px;
    border-radius: 12px;
    width: 150px;
    max-width: 150px;
}

.zukakuship-short-description {
    padding-top: 100px;
}

.zuikakuship-footer {
    padding: .1%;
    color: azure;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-stretch: expanded;
}

.zuikakuship-description {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-stretch: expanded;
    color: azure;
    padding-left: 12px;
    padding-right: 12px;
}

.zuikakuship-description-title {
    font-size: 50px;
    margin: 10px;
}

.zuikakuship-features {
    font-size: 40px;
    color: azure;
    text-align: center;
}

.zuikakuship-buttons {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-stretch: expanded;
    text-align: center;
    justify-content: center;
}

.zuikakuship-button {
    background-color: azure;
    border: none;
    padding: 10px 20px;
    color: darkgray;
    text-decoration: none;
    border-radius: 12px;
    display: inline-block;
    width: 200px;
    font-size: 20px;
    transition-duration: .3s;
}

.zuikakuship-button:hover {
    transform: scale(1.06);
    font-weight: bold;
    background-color: #4CAF50;
    color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.zuikakuship-cards {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-stretch: expanded;
    text-align: center;
    justify-content: center;
}

.zuikakuship-card {
    background-color: azure;
    color: darkgray;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 12px;
    display: inline-block;
    width: 350px;
    font-size: 20px;
    transition-duration: .3s;
}

.zuikakuship-cardDesc {
    text-align: center;
    color: darkgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.zuikakuship-card:hover {
    transform: scale(1.06);
    font-weight: bold;
    background-color: #4CAF50;
    color: azure;
}

.zuikakuship-card:hover .zuikakuship-cardDesc {
    color: azure;
}

@media (max-width: 769px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }

    .zuikakuship-buttons {
        display: grid;
    }

    .zuikakuship-cards {
        display: grid;
    }
}